*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family: sans-serif;
}
@mixin flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container{
    @include flex();
    justify-content: center;
    .contact{
        @include flex();
        justify-content: space-between;
        color: white;
        background-color: #212934;
        padding: 10px 7%;
        .block{
            width: 50%;
            display: flex;
            justify-content: left;
            i{
                font-size: 14px;
            }
            a{
                margin: 0 1%;
                text-decoration: none;
                color: snow;
                font-size: 14px
            }
        }
        .block-right{
            @extend .block;
            justify-content: right;
            i{
                font-size: 14px;
                margin-left: 1%;
                cursor: pointer;
            }
        }
        @media screen and (max-width:993px){
            display: none;
        }
    }
    header{
        @include flex();
        overflow-y: hidden;
        align-items: center;
        padding: 20px 7%;
        background-color: white;
        z-index: 1;
        .left{
            width: 15%;
            display: flex;
            justify-content: left;
            h1{
                font-size: 45px;
                color: #59AB6E;
                cursor: pointer;
            }
            i{
                color: #ccc;
                font-size: 30px;
                cursor: pointer;
                display: none;
            }
        }
        .center{
            width: 70%;
            display: flex;
            justify-content: center;
            a{
                width: 15%;
                text-decoration: none;
                color: black;
                font-size: 18px;
                &:hover{
                    color: #59AB6E;
                }
            }
        }
        .right{
            width: 15%;
            display: flex;
            justify-content: right;
            .magnifying{
                input{
                    display: none;
                }
            }
            i{
                font-size: 19px;
                margin-left: 10%;
                cursor: pointer;
                position: relative;
                p{
                    font-size: 14px;
                    border-radius: 40%;
                    padding: 3px 5px;
                    background-color: #E9EEF5;
                    position: absolute;
                    top: -10px;
                    left: 8px;
                }
            }

        }
        @media screen and (max-width:993px){
            height: 85px;
            .left{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    display: block;
                }
            }
            .center{
                width: 100%;
                flex-direction: column;
                a{
                    padding: 10px 0;
                }
                
            }
            .right{
                width: 100%;
                align-items: center;
                margin-top: 15px;
                .magnifying{
                    display: flex;
                    width: 95%;
                    align-items: center;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background-color: #E9EEF5;
                    
                    input{
                        display: block;
                        width: 100%;height: 100%;
                        border: none;
                        outline: 0;
                        padding: 11px 3px;
                        border-radius: 5px;
                    }
                    i{
                        width: 5%;
                    }
                }
                i{
                    margin-left: 0;
                    margin: 0 5px;
                }
            
            }
        }
    }
    .AboutUs{
        @include flex();
        justify-content: space-between;
        background-color: #59AB6E;
        align-items: center;
        padding: 50px 7%;
        color: white;
        .text{
            width: 65%;
            h1{
                font-size: 35px;
                margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                line-height: 30px;
            }
        }
        .telApp{
            width: 35%;
            img{
                width: 100%;
            }
        }
        @media screen and (max-width:767px){
            justify-content: center;
            .text{
                width: 100%
            }
            .telApp{
                width: 100%
            }
        }
    }
    .ListSite{
        @include flex();
        justify-content: center;
        padding: 70px 7%;
        .Categories{
            width: 50%;
            text-align: center;
            h1{
                font-size: 40px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
            }
        }
        .Service{
            @include flex();
            justify-content: space-between;
            padding: 20px 0;
            .serviceBlok{
                width: 23%;
                padding: 45px 0;
                text-align: center;
                box-shadow: 0 0 20px -8px black;
                i{
                    font-size: 50px;
                    color: #59AB6E;
                    margin-bottom: 20px;
                }
                &:hover i{
                    color: white;
                } 
                &:hover{
                    background-color: #59AB6E;
                    color: white;
                }
            }
        }
        .brands{
            width: 80%;
            display: flex;
            justify-content:space-around;
            align-items: center;
            padding: 30px 10%;
            position: relative;
            .logo{
                width: 25%;
                display: flex;
                justify-content: center;
                filter: grayscale(100%);
                opacity: 0.5;
                transition: .3s;
                img{
                    width: 50%;
                    cursor: pointer;
                }
                &:hover{
                    filter: grayscale(0%);
                    opacity: 1;
                }
            }
            .slider-left-click{
                opacity: 0.5;
                font-size: 25px;
                position: absolute;
                left: 20px;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
            .slider-right-click{
                @extend .slider-left-click;
                left: calc(100% - 46px)
            }
        }
        @media screen and (max-width:993px){
            .Categories{
                width: 100%;
            }
            .Service{
                .serviceBlok{
                    width: 48%;
                    margin-bottom: 20px;
                }
            }
            .brands{
                width: 100%;
                padding: 30px 8%;
            }
        }
        @media screen and (max-width:767px) {
            .Service{
                .serviceBlok{
                    width: 100%;
                }
            }
        }
    }
    .backCol{
        background-color: #e9eef5;
    }
    footer{
        @include flex();
        justify-content: space-between;
        padding: 50px  7% 0 7%;
        background-color: #212934;
        .information{
            width: 32%;
            color: white;
            h1{
                padding-bottom: 15px;
                font-size: 25px;
                font-weight: 300;
                border-bottom: 1px solid #2D343F;
            }
            .logo{
                color: #59AB6E;
            }
            p{
                font-size: 17px;
                margin: 13px 0;
                i{
                    margin-right: 7px;
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-weight:500;
                    &:hover{
                        color: #59AB6E;
                        
                    }
                }
            }
        }
        .social{
            @include flex();
            justify-content: space-between;
            color: white;
            padding: 30px 0;
            border-top: 1px solid #2D343F;
            .socSite{
                width: 50%;
                i{
                    font-size: 30px;
                    padding: 10px;
                    border: 1px solid #2D343F;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: .4s;
                    margin-right: 10px;
                    &:hover{
                        color: #212934;
                        background-color: white;
                    }
                }
            }
            .searchSite{
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: right;
                align-items: center;
                input{
                    width: fit-content;
                    padding: 5px 0;
                    font-size: 18px;
                    outline: 0;
                    border: none;
                    border-radius: 5px;
                    background-color: #212934;
                    border: 1px solid #2D343F;
                    color: white;
                    @media (max-width:400px){
                        .searchSite{
                            input{
                                width: 100%;
                            }
                        }
                    }
                }
                p{
                    font-size: 18px;
                    padding: 6px 5px;
                    background-color: #59AB6E;
                    border-radius: 5px;
                }
            }
        }
        @media screen and (max-width:767px){
            .information{
                width: 100%
            }
            .social{
                .socSite{
                    width: 100%;
                }
                .searchSite{
                    width: 100%;
                    justify-content: flex-start;
                    margin-top: 20px;
                }
            }
        }

    }
    .About{
        @include flex();
        color: white;
        background-color: #1D242D;
        padding: 30px 7%;
        a{
            color: white;
        }
    }
}




