* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
  font-family: sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  background-color: #212934;
  padding: 10px 7%;
}
.container .contact .block, .container .contact .block-right {
  width: 50%;
  display: flex;
  justify-content: left;
}
.container .contact .block i, .container .contact .block-right i {
  font-size: 14px;
}
.container .contact .block a, .container .contact .block-right a {
  margin: 0 1%;
  text-decoration: none;
  color: snow;
  font-size: 14px;
}
.container .contact .block-right {
  justify-content: right;
}
.container .contact .block-right i {
  font-size: 14px;
  margin-left: 1%;
  cursor: pointer;
}
@media screen and (max-width: 993px) {
  .container .contact {
    display: none;
  }
}
.container header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  align-items: center;
  padding: 20px 7%;
  background-color: white;
  z-index: 1;
}
.container header .left {
  width: 15%;
  display: flex;
  justify-content: left;
}
.container header .left h1 {
  font-size: 45px;
  color: #59AB6E;
  cursor: pointer;
}
.container header .left i {
  color: #ccc;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.container header .center {
  width: 70%;
  display: flex;
  justify-content: center;
}
.container header .center a {
  width: 15%;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.container header .center a:hover {
  color: #59AB6E;
}
.container header .right {
  width: 15%;
  display: flex;
  justify-content: right;
}
.container header .right .magnifying input {
  display: none;
}
.container header .right i {
  font-size: 19px;
  margin-left: 10%;
  cursor: pointer;
  position: relative;
}
.container header .right i p {
  font-size: 14px;
  border-radius: 40%;
  padding: 3px 5px;
  background-color: #E9EEF5;
  position: absolute;
  top: -10px;
  left: 8px;
}
@media screen and (max-width: 993px) {
  .container header {
    height: 85px;
  }
  .container header .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container header .left i {
    display: block;
  }
  .container header .center {
    width: 100%;
    flex-direction: column;
  }
  .container header .center a {
    padding: 10px 0;
  }
  .container header .right {
    width: 100%;
    align-items: center;
    margin-top: 15px;
  }
  .container header .right .magnifying {
    display: flex;
    width: 95%;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E9EEF5;
  }
  .container header .right .magnifying input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    padding: 11px 3px;
    border-radius: 5px;
  }
  .container header .right .magnifying i {
    width: 5%;
  }
  .container header .right i {
    margin-left: 0;
    margin: 0 5px;
  }
}
.container .AboutUs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #59AB6E;
  align-items: center;
  padding: 50px 7%;
  color: white;
}
.container .AboutUs .text {
  width: 65%;
}
.container .AboutUs .text h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.container .AboutUs .text p {
  font-size: 18px;
  line-height: 30px;
}
.container .AboutUs .telApp {
  width: 35%;
}
.container .AboutUs .telApp img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .container .AboutUs {
    justify-content: center;
  }
  .container .AboutUs .text {
    width: 100%;
  }
  .container .AboutUs .telApp {
    width: 100%;
  }
}
.container .ListSite {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 7%;
}
.container .ListSite .Categories {
  width: 50%;
  text-align: center;
}
.container .ListSite .Categories h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}
.container .ListSite .Categories p {
  font-size: 18px;
}
.container .ListSite .Service {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.container .ListSite .Service .serviceBlok {
  width: 23%;
  padding: 45px 0;
  text-align: center;
  box-shadow: 0 0 20px -8px black;
}
.container .ListSite .Service .serviceBlok i {
  font-size: 50px;
  color: #59AB6E;
  margin-bottom: 20px;
}
.container .ListSite .Service .serviceBlok:hover i {
  color: white;
}
.container .ListSite .Service .serviceBlok:hover {
  background-color: #59AB6E;
  color: white;
}
.container .ListSite .brands {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
  position: relative;
}
.container .ListSite .brands .logo {
  width: 25%;
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.3s;
}
.container .ListSite .brands .logo img {
  width: 50%;
  cursor: pointer;
}
.container .ListSite .brands .logo:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.container .ListSite .brands .slider-left-click, .container .ListSite .brands .slider-right-click {
  opacity: 0.5;
  font-size: 25px;
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.container .ListSite .brands .slider-left-click:hover, .container .ListSite .brands .slider-right-click:hover {
  opacity: 1;
}
.container .ListSite .brands .slider-right-click {
  left: calc(100% - 46px);
}
@media screen and (max-width: 993px) {
  .container .ListSite .Categories {
    width: 100%;
  }
  .container .ListSite .Service .serviceBlok {
    width: 48%;
    margin-bottom: 20px;
  }
  .container .ListSite .brands {
    width: 100%;
    padding: 30px 8%;
  }
}
@media screen and (max-width: 767px) {
  .container .ListSite .Service .serviceBlok {
    width: 100%;
  }
}
.container .backCol {
  background-color: #e9eef5;
}
.container footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 7% 0 7%;
  background-color: #212934;
}
.container footer .information {
  width: 32%;
  color: white;
}
.container footer .information h1 {
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: 300;
  border-bottom: 1px solid #2D343F;
}
.container footer .information .logo {
  color: #59AB6E;
}
.container footer .information p {
  font-size: 17px;
  margin: 13px 0;
}
.container footer .information p i {
  margin-right: 7px;
}
.container footer .information p a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.container footer .information p a:hover {
  color: #59AB6E;
}
.container footer .social {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  padding: 30px 0;
  border-top: 1px solid #2D343F;
}
.container footer .social .socSite {
  width: 50%;
}
.container footer .social .socSite i {
  font-size: 30px;
  padding: 10px;
  border: 1px solid #2D343F;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 10px;
}
.container footer .social .socSite i:hover {
  color: #212934;
  background-color: white;
}
.container footer .social .searchSite {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}
.container footer .social .searchSite input {
  width: fit-content;
  padding: 5px 0;
  font-size: 18px;
  outline: 0;
  border: none;
  border-radius: 5px;
  background-color: #212934;
  border: 1px solid #2D343F;
  color: white;
}
@media (max-width: 400px) {
  .container footer .social .searchSite input .searchSite input {
    width: 100%;
  }
}
.container footer .social .searchSite p {
  font-size: 18px;
  padding: 6px 5px;
  background-color: #59AB6E;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .container footer .information {
    width: 100%;
  }
  .container footer .social .socSite {
    width: 100%;
  }
  .container footer .social .searchSite {
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
  }
}
.container .About {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: #1D242D;
  padding: 30px 7%;
}
.container .About a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
